{% extends 'mails/base.html' %}
{% block content %}

<br>
<div class="row">
    <div class="col-md-8 mt-4">
        <a href="{% url 'incoming' %}" class="btn btn-secondary btn-sm md-2">&#8592; Back </a>
        <div class="card card-body">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
            
                <input class="btn btn-success" type="submit" value="Submit">
            </form>

        </div>
    </div>
</div>

{% endblock %}