
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-incoming">
                <div class="card-header">
                    <div class="card-title"><h5>Total Mails in System</h5></div>
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title">{{ total_record }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total-outgoing">
                <div class="card-header">
                    <div class="card-title"><h5>Total Incoming Mails</h5></div>
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title">{{ incoming_total }}</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="col">
        <div class="col-md">
            <div class="card text-center text-black mb-3" id="total">
                <div class="card-header">
                    <div class="card-title"><h5>Total Outgoing Mails</h5></div>
                    <hr>
                    <div class="card-body">
                        <h3 class="card-title">{{ outgoing_total }}</h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>



